@font-face{
    font-family: 'ubuntu';
    src:url('Ubuntu.ttf');
}

@font-face{
    font-family: 'josefin';
    src:url('Josefin.otf');
}

/*
  -------------
  - HTML/Body -
  -------------
*/
html{
    background:url('img/bkgd.png');
    margin:0;
}

body{
    
    margin:0;
}

/*
  ----------
  - Common -
  ----------
*/

a{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}

/* 
   ----------
   - layout -
   ----------
*/
header>h1{
    font-family:'josefin';
    text-align:center;
    font-size:2.1em;
    padding:0.3em;
    background:rgba(255,255,255,0.25);
    border:1px solid #fff;
}

header>h2{
    font-family:'josefin';
    text-align:center;
    padding:0.3em;
    background:rgba(255,255,255,0.25);
    border:1px solid #fff;
}

body>nav{
    background:rgba(255,255,255,0.2);
    text-align:center;
    width:90%;
    margin:0 auto;
}

body>nav>ul>{
    margin:0 auto;
}

body>nav>ul>li{
    display:inline-block;
    padding:0.5em;
}

body>nav>ul>li a{
    color:#222;
    text-shadow:0 0 0.05em #555;
}

/* info user + logout */
body>aside{
  position:absolute;
  top:0;
  right:1em;
  margin:0;
  padding:0;
}

body>aside>ul{
  list-style:none;
  padding:0;
  margin:0;
}

body>aside>ul li{
  display:inline-block;
  padding-right:0.5em;
  padding-left:0.5em;
}

body>aside>ul li:first-child{
  border-right:1px solid #222;
}

body>aside>ul li a{
  color:#222;
}

section>aside{
    margin:auto;
    width:60%;
    padding:1em;
    background:rgba(255,255,255,0.2);
    border:thin solid #fff;
    box-shadow:0 0 5px #ddd;
}

section>aside h2{
    background:rgba(254,217,143,0.2);
    border-radius:5px;
    padding:0.2em;
    text-shadow:0 0 0.03em #000;
    font-family:'josefin';
    clear:left;
}

section>aside ul{
    list-style:none;
    font-family:'ubuntu',sans-serif;
}

section>aside ul li{
    padding:0.25em;
}

section>aside ul li a{
    color:#222;
    text-decoration:none;
    font-family:'ubuntu',sans-serif;
}

/* error flash message */
aside>p.error{
    background:rgba(244,41,41,0.55);
    border:1px solid #B31B1B;
    color:#B31B1B;
    max-width:30em;
    margin:0 auto;
    text-align:center;
    font-family:sans-serif;
    font-weight:bold;
}

/* ok flash message */
aside>p.ok{
    background:rgba(40,196,1,0.55);
    border:1px solid #21A200;
    color:#21A200;
    max-width:30em;
    margin:0 auto;
    text-align:center;
    font-family:sans-serif;
    font-weight:bold;
}
/*
  -------------
  - Edit Page -
  -------------
*/

/* page titles */


/* toolbar */
section.toolbar{
    position:relative;
    top:0;
    left:0;
    padding:0;
    margin:0;
    text-align:center;
}
section.toolbar ul{
    
    marign:0;
    padding:0;
}

section.toolbar ul li{
    display:inline-block;
}

section.toolbar input[type=button],
section.toolbar input[type=submit]{
    background:#222;
    border:1px solid #222;
    color:#fff;
    border-radius:5px;
    font-weight:bold;
    cursor:pointer;
}

#btn_version{
    width:14em;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    cursor:default;
    margin:0;
}

#hist{
    display:none;
    background:#222;
    font-family:'helvetica',sans-serif;
    position:absolute;
    z-index:100;
    list-style:none;
    width:14em;
    max-height:7em;
    overflow-y:auto;
}

#hist li{
    display:list-item;
    margin:0;
    padding:0.15em 0;
}

#hist a{
    color:#777;
}

#hist a:hover{
    text-decoration:none;
    color:#fff;
}

/* iframe */
iframe{
  position:relative;
  border:1px solid #222;
  width:90%;
  left:5%;
  background:#fff;
  height:40em;
}

/* index style */
section>aside{
    margin:auto;
    width:60%;
    padding:1em;
}

section>aside h2{
    background:rgba(254,217,143,0.2);
    border-radius:5px;
    padding:0.2em;
    text-shadow:0 0 0.03em #000;
    font-family:'josefin';
}

section>aside ul{
    list-style:none;
    font-family:'ubuntu',sans-serif;
}

section>aside ul li{
    padding:0.25em;
}

section>aside ul li a{
    color:#222;
    text-decoration:none;
    font-family:'ubuntu',sans-serif;
}

/*
  ----------
  - Footer -
  ----------
*/
footer {
  font-family:'josefin', sans-serif;
  font-size:1em;
  margin-top: 50px;
  padding: 3px 0 0 0;
  text-align: center;
}

footer ul {
  background: url(img/footer.png) no-repeat top center;
  padding: 20px 0;
}

footer li { 
  display: inline;
}

footer li a {
  color: #222 !important;
  padding: 0 5px;
}

footer li a:hover {
  color: black !important;
}

section.connection p{
  text-align: center;
}

section.connection form{
  width: 20em;
  margin: 0 auto 8em auto;
}

section.connection label {
    clear: right;
    color: #222222;
    display: block;
    float: left;
    font-family: trebuchet ms,alibri,sans-serif;
    margin: 0 -1px;
    text-align: right;
    width: 45%;
}

section.connection input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid;
    color: #111111;
    display: block;
    float: right;
    font-family: trebuchet ms,calibri,sans-serif;
    margin-bottom: 0.5em;
    width: 50%;
}

section.connection input[type=submit],input[type=button]
{
	border:2px solid #111;
	background:#222;
	color:#fff;
	/*font-weight:bold;*/
	font-family:trebuchet ms,alibri,sans-serif;
	font-size:12pt;
	cursor:pointer;
}