@font-face{
    font-family: 'ubuntu';
    src:url('Ubuntu.ttf');
}

@font-face{
    font-family: 'josefin';
    src:url('Josefin.otf');
}

/*
  -------------
  - HTML/Body -
  -------------
*/
html{
    
}

body{
    background:url('img/bkgd.png');
    font-family:'ubuntu', sans-serif;
}

/*
  ----------
  - Common -
  ----------
*/

h1,h2,h3,h4,h5,h6{
    font-family:sans-serif;
    color:#111;
}

section>aside{
    margin:auto;
    width:60%;
    padding:1em;
}

section>aside h2{
    background:rgba(254,217,143,0.2);
    border-radius:5px;
    padding:0.2em;
    text-shadow:0 0 0.03em #000;
    font-family:'josefin';
}

section>aside ul{
    list-style:none;
    font-family:'ubuntu',sans-serif;
}

section>aside ul li{
    padding:0.25em;
}

section>aside ul li a{
    color:#222;
    text-decoration:none;
    font-family:'ubuntu',sans-serif;
}
/*
  -----------
  - Classes -
  -----------
*/
.editable{
    border:1px solid #111;
    padding:0.25em;
    min-height:2em;
    max-width:30em;
    background:#fff;
}

/*
  -------
  - Ids -
  -------
*/
#expediteur{
    position:absolute;
    left:1em;
    top:1em;
}

#destinataire{
    position:absolute;
    right:2em;
    top:10em;
}
#destinataire{
    position:absolute;
    right:2em;
    top:10em;
}

#objet{
    position:absolute;
    left:30em;;
    top:15em;
}

#objet p{
    position:relative;
    top:-6em;
    left:8em;
}

#civilites{
    position:absolute;
    left:30em;
    top:20em;
}

/*
  ----------
  - Footer -
  ----------
*/
footer {
  font-family:'josefin', sans-serif;
  font-size:1em;
  margin-top: 50px;
  padding: 3px 0 0 0;
  text-align: center;
}

footer ul {
  background: url(img/footer.png) no-repeat top center;
  padding: 20px 0;
}

footer li { 
  display: inline;
}

footer li a {
  color: #222 !important;
  padding: 0 5px;
}

footer li a:hover {
  color: black !important;
}
