{% block head %}
  <title>Koztumize - Vos archives </title>
{% endblock head %}
{% extends "layout.html" %}
{% block header %}
<h1>Vos archives</h1>
{% endblock header %}
{% block content %}
<aside>
  {% for dir in archived_dirs %}
  <ul>
    <li><a href="{{ url_for('archive', path=dir) }}" class="dir">{{ dir.split('/')[-1] }}</a></li>   
  </ul>
  {% endfor %}
  {% for file in archived_files %}
  <ul>
      <li><a href="{{ url_for('modify', path=file) }}" class="file">{{ file.split('/')[-1] }}</a></li> 
  </ul>
  {% endfor %}
</aside>
{% endblock content %}
