<!Doctype html>
<meta charset="UTF-8" />
<head>
  <title>Koztumize - {{ filename }} </title>
  <link href="{{url_for('static',filename='style.css')}}" media="screen" type="text/css" rel="stylesheet" />  
</head>
<body>
  <header><h2>{{ filename }}</h2></header>
  <section class="toolbar">
    <ul>
      <li><a href="{{ url_for('index') }}">> Retour</a>
      <li>
        <form action="{{ url_for('generate') }}" method="post">    
          <input type="hidden"id="html_content" value="" name="html_content" />
          <input type="hidden"id="html_content" value="{{ filename }}" name="filename" />
          <input type="submit" value="Générer le PDF" onclick="document.getElementById('html_content').value=document.getElementById('iframe').contentDocument.documentElement.innerHTML;" name="generate"/>
        </form>
      </li>
      <li>
        <input type="button" value="Réinitialiser" onclick="window.location.reload();"/>
      </li>
      <li>
        <input type="button" value="Télécharger le PDF" onclick="document.location.href=''"/>
      </li>
    <ul>
  </section>
  <iframe id="iframe" src="http://localhost:5000/model/{{ category }}/{{ filename }}" width="100%" height="600"></iframe>
  <footer></footer>
</body>
