{% extends "layout.html" %}
  {% block head %}
    <title>Koztumize - {{ filename }} </title>
  {% endblock head %}
  {% block content %}
  <h2>
  {{category}}/{{ filename[:-4] }}</h2>
   <nav id="toolbar">
    <ul>
      <li>
        <input type="button" value="" class="bold" onclick="document.getElementById('iframe').contentWindow.document.execCommand('bold', false, '')" title="Mettre le texte en gras"/>
      </li>
      <li>
        <input type="button" value="" class="italic" onclick="document.getElementById('iframe').contentWindow.document.execCommand('italic', false, '')" title="Mettre le texte en italique"/>
      </li>
      <li>
        <input type="button" value="" class="underline" onclick="document.getElementById('iframe').contentWindow.document.execCommand('underline', false, '')" title="Mettre le texte en souligné"/>
      </li>
       <li>
        <input type="button" value="" class="strikethrough" onclick="document.getElementById('iframe').contentWindow.document.execCommand('strikethrough', false, '')" title="Mettre le texte en barré"/>
      </li>
      <li>
        <input type="button" value="" class="bigger" onclick="document.getElementById('iframe').contentWindow.document.execCommand('increaseFontSize', false, '')" title="Agrandir la taille du texte"/>
      </li>
      <li>
        <input type="button" value="" class="lower" onclick="document.getElementById('iframe').contentWindow.document.execCommand('decreaseFontSize', false, '')" title="Réduire la taille du texte"/>
      </li>
      <li>
        <input type="button" value="" class="paragraph" onclick="document.getElementById('iframe').contentWindow.document.execCommand('formatblock', false, '<p>')" title="Ajouter un paragraphe"/>
      </li>
      <li>
        <input type="button" value="" class="list" onclick="document.getElementById('iframe').contentWindow.document.execCommand('insertUnorderedList', false, '')" title="Ajouter une liste"/>
      </li>
      <li>
        <input type="button" value="" class="left" onclick="document.getElementById('iframe').contentWindow.document.execCommand('justifyLeft', false, '')" title="Aligner le texte à gauche"/>
      </li>
      <li>
        <input type="button" value="" class="right" onclick="document.getElementById('iframe').contentWindow.document.execCommand('justifyRight', false, '')" title="Aligner le texte à droite"/>
      </li>
      <li>
        <input type="button" value="" class="center" onclick="document.getElementById('iframe').contentWindow.document.execCommand('justifyCenter', false, '')" title="Centrer le texte"/>
      </li>
      <li>
        <input type="button" value="" class="justify" onclick="document.getElementById('iframe').contentWindow.document.execCommand('justifyFull', false, '')" title="Justifier le texte"/>
      </li>
      <li>
        <input type="button" value="" class="undo" onclick="document.getElementById('iframe').contentWindow.document.execCommand('undo', false, '')" title="Annuler"/>
      </li>
      <li>
        <input type="button" value="" class="redo" onclick="document.getElementById('iframe').contentWindow.document.execCommand('redo', false, '')" title="Refaire"/>
      </li>
      <li>
        <select name="fontselect" onchange="var font=$(this).val();document.getElementById('iframe').contentWindow.document.execCommand('fontname', false, font)">
          <option value="fontin">Fontin</option>
          <option value="monospace">Monospace</option>
          <option value="serif">Serif</option>
        </select>
        <script>
          $('select[name=fontselect]').on('mouseover','select[name=fontselect] option', function(){
            var font=$(this).val();
            document.getElementById('iframe').contentWindow.document.execCommand('fontname', false, font);
          });
        </script>
      </li>
    </ul>
    <ul>
      <li>
        <form action="{{ url_for('generate') }}" method="post">    
          <input type="hidden"id="gen_html_content" value="" name="html_content" />
          <input type="hidden" value="{{ filename[:-4] }}" name="filename" />
          <input type="submit" value="" onclick="document.getElementById('gen_html_content').value=document.getElementById('iframe').contentDocument.documentElement.innerHTML;" name="generate" class="generate" title="Générer le PDF"/>
        </form>
      </li>
      <li>
      <form action="{{ url_for('save') }}" method="post">    
        <input type="hidden" id="save_html_content" value="" name="html_content" />
        <input type="hidden" value="{{ filename[:-4] }}" name="filename" />
        <input type="hidden" value="{{ category }}" name="category" />
        <input type="submit" value="" onclick="var saved_as=prompt('Enregistrer sous :' , '{{ filename[:-4] }}');if(saved_as==null){alert('Veuillez spécifier un nom pour le document'); return false } else{$('input[name=filename]').val(saved_as);} $;document.getElementById('save_html_content').value=document.getElementById('iframe').contentDocument.documentElement.innerHTML;" name="save" class="save" title="Enregistrer le document"/>
      </form>
      </li>
    </ul>
   </nav>
  <div><iframe id="iframe" src="{{ url_for('model', category=category, filename=filename) }}" ></iframe></div>
  {% endblock content %}

