{% extends "layout.html" %}
{% block head %}
  <title>Koztumize - {{ path.split('/')[-1] }} </title>
  <script>
    function saveDoc(){
      var saved_as=prompt("Enregistrer sous :" , "{{ path.split('/')[-1][:-5] }}");
      if(saved_as==null) 
        return false; 
      if(saved_as.length==0){
        alert('Veuillez spécifier un nom pour le document'); 
        return false;
      } else {
        $('input[name=filename]').val(saved_as);
      } 
      
      $('input[name=html_content]').val(document.getElementById('iframe').contentDocument.documentElement.innerHTML);
      return true;
    }
  </script>
{% endblock head %}
  {% block content %}
  <section class="version">
    <input type="submit" value="Version" onclick="if($('#hist').css('display')=='none') $('#hist').show('fast'); else $('#hist').hide('fast');"/>
    <nav id="hist">
      <ul >
      {% for commit in date_commit %}
        <li><a href="{{ url_for('modify', path=path, version=commit.commit) }}">{{ commit['date']}} {{ commit['author']}}</a></li>
      {% endfor %}
      </ul>
    </nav>
  </section>
  <aside>
    <a href="/">index</a>
    {% set path_trunc=path[:-5] %}
    {% for parent in path_trunc.split('/') %}
      / <a href="{{ url_for('archive', path=parent)}}">{{parent}}</a>
    {% endfor %}
  </aside>
   <nav id="toolbar">
    <ul>
      <li>
        <input type="button" value="" class="bold" onclick="document.getElementById('iframe').contentWindow.document.execCommand('bold', false, '')" title="Mettre le texte en gras"/>
      </li>
      <li>
        <input type="button" value="" class="italic" onclick="document.getElementById('iframe').contentWindow.document.execCommand('italic', false, '')" title="Mettre le texte en italique"/>
      </li>
      <li>
        <input type="button" value="" class="underline" onclick="document.getElementById('iframe').contentWindow.document.execCommand('underline', false, '')" title="Mettre le texte en souligné"/>
      </li>
       <li>
        <input type="button" value="" class="strikethrough" onclick="document.getElementById('iframe').contentWindow.document.execCommand('strikethrough', false, '')" title="Mettre le texte en barré"/>
      </li>
      <li>
        <input type="button" value="" class="bigger" onclick="document.getElementById('iframe').contentWindow.document.execCommand('increaseFontSize', false, '')" title="Agrandir la taille du texte"/>
      </li>
      <li>
        <input type="button" value="" class="lower" onclick="document.getElementById('iframe').contentWindow.document.execCommand('decreaseFontSize', false, '')" title="Réduire la taille du texte"/>
      </li>
      <li>
        <input type="button" value="" class="paragraph" onclick="document.getElementById('iframe').contentWindow.document.execCommand('formatblock', false, '<p>')" title="Ajouter un paragraphe"/>
      </li>
      <li>
        <input type="button" value="" class="list" onclick="document.getElementById('iframe').contentWindow.document.execCommand('insertUnorderedList', false, '')" title="Ajouter une liste"/>
      </li>
      <li>
        <input type="button" value="" class="left" onclick="document.getElementById('iframe').contentWindow.document.execCommand('justifyLeft', false, '')" title="Aligner le texte à gauche"/>
      </li>
      <li>
        <input type="button" value="" class="right" onclick="document.getElementById('iframe').contentWindow.document.execCommand('justifyRight', false, '')" title="Aligner le texte à droite"/>
      </li>
      <li>
        <input type="button" value="" class="center" onclick="document.getElementById('iframe').contentWindow.document.execCommand('justifyCenter', false, '')" title="Centrer le texte"/>
      </li>
      <li>
        <input type="button" value="" class="justify" onclick="document.getElementById('iframe').contentWindow.document.execCommand('justifyFull', false, '')" title="Justifier le texte"/>
      </li>
      <li>
        <input type="button" value="" class="undo" onclick="document.getElementById('iframe').contentWindow.document.execCommand('undo', false, '')" title="Annuler"/>
      </li>
      <li>
        <input type="button" value="" class="redo" onclick="document.getElementById('iframe').contentWindow.document.execCommand('redo', false, '')" title="Refaire"/>
      </li>
      <li>
        <select name="fontselect" onchange="var font=$(this).val();document.getElementById('iframe').contentWindow.document.execCommand('fontname', false, font)">
          <option value="fontin">Fontin</option>
          <option value="monospace">Monospace</option>
          <option value="serif">Serif</option>
        </select>
        <script>
          $('select[name=fontselect]').on('mouseover','select[name=fontselect] option', function(){
            var font=$(this).val();
            document.getElementById('iframe').contentWindow.document.execCommand('fontname', false, font);
          });
        </script>
      </li>
    </ul>
    <ul>
      <li>
        <form action="{{ url_for('generate') }}" method="post">    
          <input type="hidden"id="gen_html_content" value="" name="html_content" />
          <input type="hidden" value="{{ filename }}" name="filename" />
          <input type="submit" value="" onclick="document.getElementById('gen_html_content').value=document.getElementById('iframe').contentDocument.documentElement.innerHTML;$('span[contenteditable=true]:eq(1)').html().replace('.',',');" name="generate" class="generate" title="Générer le PDF"/>
        </form>
      </li>
      <li>
      <form action="{{ url_for('save') }}" method="post" name="save">    
        <input type="hidden" value="" name="html_content" />
        <input type="hidden" value="{{ path_trunc.split('/')[-1] }}" name="filename" />
        <input type="hidden" value="{{ category }}" name="category" />
        <input type="submit" value="" onclick="return saveDoc();" name="save" class="save" title="Enregistrer le document"/>
      </form>
      </li>
      <li>
        <input type="submit" value="" onclick="$('#iframe').contents().find('meta[name=date]').attr('content', '{{ date }}'); $('form[name=save]').children()[0].value=$('#iframe')[0].contentDocument.documentElement.innerHTML; $('form[name=save]').submit();" class="update" title="Mettre à jour le style"/>
      </li>
      <li>
        <input type="button" value="" onclick="window.location.href='{{ url_for('edit',category=category, filename=filename) }}';" class="documentnew" title="Revenir au modèle vierge"/>
      </li>
    </ul>
   </nav>
  <iframe id="iframe" src="{{ url_for('reader', path=path) }}"></iframe>
  
 
  {% endblock content %}
