{% extends "layout.html" %}
{% block head %}
  <title>Koztumize - {{ path.split('/')[-1] }} </title>
  <script>
    $(function(){
      $('.saveload').show();
    });  
  
    $('body').ready(function(){
      $('.saveload').hide();
    });
    function saveDoc(filename, category){
        var saved_as=prompt("Enregistrer sous :" , "{{ filename[:-4] }}");
        if(saved_as==null) 
          return false; 
        if(saved_as.length==0){
          alert('Veuillez spécifier un nom pour le document'); 
          return false;
        } else {
          $('.saveload').html('Enregistrement en cours...').css('color','#222').show();
          filename=saved_as;

          var html_content = $('iframe').contents().find('html').html();
          
          $.ajax({
            url: "{{ url_for('save') }}",
            data: "html_content="+encodeURIComponent(html_content)+"&filename="+filename+"&category="+category,
            type: "POST",
            success: function(response){
              if(response=="0"){
                $('.saveload').html('Erreur: le document n\'a pas été modifié.').css('color','red');
                $('.saveload').fadeOut(6000);
              }else{ 
                window.location.href=response;
                $('.saveload').html('Le document a été enregistré.').css('color','green');
              }
            }
            
          });
        }
      }

      function updateStyle(filename, category){
          $('.saveload').html('Mise à jour en cours...').css('color','#222').show();
        
          var html_content = $('iframe').contents().find('html').html();
          
          $.ajax({
            url: "{{ url_for('save') }}",
            data: "html_content="+html_content.replace(/&nbsp;/g,' ')+"&filename="+filename+"&category="+category,
            type: "POST",
            success: function(response){
              if(response=="0"){
                $('.saveload').html('Erreur: le document n\'a pas été mis à jour.').css('color','red');
                $('.saveload').fadeOut(6000);
              }else{ 
                window.location.href=response;
                $('.saveload').html('La mise à jour a été effectuée.').css('color','green');
              }
            }
            
          });
      }
  
      function generate(html_content){
        $('.loading').fadeIn(500);
        $('#PDF-link').hide();
        $('#loader').css('display','block');
        $.ajax({
          url: "{{ url_for('generate') }}",
          data: "html_content="+html_content.replace(/&nbsp;/g,' '),
          type: "POST",
          success: function(response){
            $('#loader').hide();     
            $('#PDF-link').css('display','block');
          }
          
        });
      }
   </script>
   <script src="{{url_for('static', filename='javascript/popup.js') }}"></script>
{% endblock head %}
  {% block content %}
  <section class="version">
    <input type="submit" value="Version" onclick="if($('#hist').css('display')=='none') $('#hist').show('fast'); else $('#hist').hide('fast');"/>
    <nav id="hist">
      <ul >
      {% for commit in date_commit %}
        <li><a href="{{ url_for('modify', path=path, version=commit.commit) }}">{{ commit['date']}} {{ commit['author']}}</a></li>
      {% endfor %}
      </ul>
    </nav>
  </section>
  <aside>
    <a href="/">index</a>
    {% set path_trunc=path[:-5] %}
    {% for parent in path_trunc.split('/') %}
      / <a href="{{ url_for('archive', path=parent)}}">{{parent}}</a>
    {% endfor %}
  </aside>
   <nav id="toolbar">
    <ul>
      <li>
        <input type="button" value="" class="bold" onclick="document.getElementById('iframe').contentWindow.document.execCommand('bold', false, '')" title="Mettre le texte en gras"/>
      </li>
      <li>
        <input type="button" value="" class="italic" onclick="document.getElementById('iframe').contentWindow.document.execCommand('italic', false, '')" title="Mettre le texte en italique"/>
      </li>
      <li>
        <input type="button" value="" class="underline" onclick="document.getElementById('iframe').contentWindow.document.execCommand('underline', false, '')" title="Mettre le texte en souligné"/>
      </li>
       <li>
        <input type="button" value="" class="strikethrough" onclick="document.getElementById('iframe').contentWindow.document.execCommand('strikethrough', false, '')" title="Mettre le texte en barré"/>
      </li>
      <li>
        <input type="button" value="" class="bigger" onclick="document.getElementById('iframe').contentWindow.document.execCommand('increaseFontSize', false, '')" title="Agrandir la taille du texte"/>
      </li>
      <li>
        <input type="button" value="" class="lower" onclick="document.getElementById('iframe').contentWindow.document.execCommand('decreaseFontSize', false, '')" title="Réduire la taille du texte"/>
      </li>
    </ul>
    <ul>
      <li>
        <select name="fontselect" onchange="var font=$(this).val();document.getElementById('iframe').contentWindow.document.execCommand('fontname', false, font)">
          <option value="fontin">Fontin</option>
          <option value="monospace">Monospace</option>
          <option value="serif">Serif</option>
        </select>
        <script>
          $('select[name=fontselect]').on('mouseover','select[name=fontselect] option', function(){
            var font=$(this).val();
            document.getElementById('iframe').contentWindow.document.execCommand('fontname', false, font);
          });
        </script>
      </li>
    </ul>
    <ul>
      <li>
        <input type="button" value="" class="paragraph" onclick="document.getElementById('iframe').contentWindow.document.execCommand('formatblock', false, '<p>')" title="Ajouter un paragraphe"/>
      </li>
      <li>
        <input type="button" value="" class="list" onclick="document.getElementById('iframe').contentWindow.document.execCommand('insertUnorderedList', false, '')" title="Ajouter une liste"/>
      </li>
      <li>
        <input type="button" value="" class="left" onclick="document.getElementById('iframe').contentWindow.document.execCommand('justifyLeft', false, '')" title="Aligner le texte à gauche"/>
      </li>
      <li>
        <input type="button" value="" class="right" onclick="document.getElementById('iframe').contentWindow.document.execCommand('justifyRight', false, '')" title="Aligner le texte à droite"/>
      </li>
      <li>
        <input type="button" value="" class="center" onclick="document.getElementById('iframe').contentWindow.document.execCommand('justifyCenter', false, '')" title="Centrer le texte"/>
      </li>
      <li>
        <input type="button" value="" class="justify" onclick="document.getElementById('iframe').contentWindow.document.execCommand('justifyFull', false, '')" title="Justifier le texte"/>
      </li>
    </ul>
    <ul>
      <li>
        <input type="button" value="" class="undo" onclick="document.getElementById('iframe').contentWindow.document.execCommand('undo', false, '')" title="Annuler"/>
      </li>
      <li>
        <input type="button" value="" class="redo" onclick="document.getElementById('iframe').contentWindow.document.execCommand('redo', false, '')" title="Refaire"/>
      </li>
      
    </ul>
    <ul>
      <li>   
          <input type="button" value="" onclick="generate($('iframe').contents().find('html').html());" name="generate" class="generate" title="Générer le PDF"/>
      </li>
     <li>     
        <input type="button" value="" onclick="saveDoc('{{ filename[:-4] }}','{{ category }}');" name="save" class="save" title="Enregistrer le document"/>
      </li>
      <li>
        <input type="button" value="" onclick="$('#iframe').contents().find('meta[name=date]').attr('content', '{{ date }}'); updateStyle('{{ filename[:-4] }}','{{ category }}');" class="update" title="Mettre à jour le style"/>
      </li>
      <li>
        <input type="button" value="" onclick="window.location.href='{{ url_for('edit',category=category, filename=filename) }}';" class="documentnew" title="Revenir au modèle vierge"/>
      </li>
    </ul>
    <ul>
      <li>
        <input type="button" value="V" onclick="window.location.href='{{ url_for('edit',category=category, filename=filename) }}';" class="version" title="Historique des versions"/>
      </li>
    </ul>
   </nav>
   <div class="saveload">
    Enregistrement en cours...
   </div>
   <div class="loading"> 
     <span onclick="$(this).parent().fadeOut(500);" class="close">x</span>
     <div id="loader"><img src="{{ url_for('static', filename='img/icons/loader.gif') }}"/>Veuillez patienter...</div>
     <a href="{{ url_for('get_pdf', filename=filename[:-4]) }}" id="PDF-link"><img src="{{ url_for('static', filename='img/icons/pdf2.png') }}"/> Télécharger le PDF</a>
   </div>
   <div id="backgroundPopup"></div>
  <iframe id="iframe" src="{{ url_for('reader', path=path) }}"></iframe>
  
 
  {% endblock content %}
