{% block head %}
  <title>Koztumize - Nouveau document </title>
{% endblock head %}
{% extends "layout.html" %}
{% block header %}
<h1>Créer un nouveau document</h1>
{% endblock header %}
{% block content %}
<aside>
  {% for category in models.keys() %}
  <h2>{{ category }}</h2>
    <ul>
      {% for model in models[category] %}
      <li><a href="{{ url_for('edit', category=category, filename=model) }}">{{ model.rsplit('.', 1)[0] }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
</aside>
<aside class="last_commits">
  <ul>
    {% for hist in history%}
    <li><a href="{{  }}">{{ hist}}</a></li>
    {% endfor %}
  </ul>
</aside>
{% endblock content %}
