@import url("model.css");

div[title="Nom de la Pharmacie et Adresse mandataire"]{
    border:1px solid #222;
    width:15em;
    height:8em;
}

div[title="Règlement (en €)"]{
    
}

input[type="checkbox"]{
    display: block;
    width: 10px;
    height: 10px;
    background: red;

    color: blue;
}

input[type="checkbox"]:checked{
    background: blue;
}
